*.patch
*.orig
*~
\#*#
/README.html
/debian/debhelper-build-stamp
/debian/files
/debian/install
/debian/onie-dkms.debhelper.log
/debian/onie-dkms.dkms.debhelper
/debian/onie-dkms.postinst.debhelper
/debian/onie-dkms.prerm.debhelper
/debian/onie-dkms.substvars
/debian/onie-dkms/
/dkms/*.cmd
/dkms/*.[oa]
/dkms/*.ko
/dkms/Module.symvers
/dkms/modules.order
/dkms/onie.mod
/dkms/onie.mod.c
/dkms/onie_version.mk
